# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build
*.tsbuildinfo

# Environment files
.env*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock
